<a href="https://colab.research.google.com/github/brilliant-teacher/Smart-Walls/blob/main/Fiber_optic_sensors_in_Industry_4_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data mining

In [84]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
%pip install numpy pandas matplotlib
%matplotlib inline
plt.style.use('ggplot')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.5.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [85]:
dfair1 = pd.read_csv('Arkusz kalkulacyjny bez tytułu - sensor01_air.csv')

In [86]:
dfair1

      1.35e-06  9.1792
0     0.000001  9.2003
1     0.000001  9.1968
2     0.000001  9.1028
3     0.000001  9.0601
4     0.000001  9.1118
...        ...     ...
2995  0.000002  3.8310
2996  0.000002  3.8613
2997  0.000002  3.8361
2998  0.000002  3.9466
2999  0.000002  3.8974

[3000 rows x 2 columns]

In [87]:
df1izopropanol1 = pd.read_csv('sensor01_izopropanol - sensor01_izopropanol.csv')

In [88]:
df1izopropanol1

      1.35e-06    8.5551
0     0.000001  8.675000
1     0.000001  8.711600
2     0.000001  8.715700
3     0.000001  8.679200
4     0.000001  8.631200
...        ...       ...
2995  0.000002 -0.335950
2996  0.000002 -0.199560
2997  0.000002 -0.403730
2998  0.000002  0.028674
2999  0.000002 -0.221990

[3000 rows x 2 columns]

In [89]:
df2water1 = pd.read_csv('sensor01_water - sensor01_water.csv')

In [90]:
df2water1

      1.35e-06    8.357
0     0.000001  8.42870
1     0.000001  8.44220
2     0.000001  8.41440
3     0.000001  8.40340
4     0.000001  8.33510
...        ...      ...
2995  0.000002 -0.51536
2996  0.000002 -0.36859
2997  0.000002 -0.57172
2998  0.000002 -0.19214
2999  0.000002 -0.25055

[3000 rows x 2 columns]

In [91]:
df3izopropanol = pd.read_csv('sensor02_izopropanol - sensor02_izopropanol.csv')

In [92]:
df3izopropanol

      1.35e-06    9.2544
0     0.000001  9.301200
1     0.000001  9.251200
2     0.000001  9.273400
3     0.000001  9.199900
4     0.000001  9.127300
...        ...       ...
2995  0.000002 -0.394290
2996  0.000002 -0.215570
2997  0.000002 -0.296660
2998  0.000002 -0.117730
2999  0.000002  0.001783

[3000 rows x 2 columns]

In [93]:
df4water = pd.read_csv('sensor02_water - sensor02_water.csv')

In [94]:
df4water

      1.35e-06   9.0607
0     0.000001  9.12380
1     0.000001  9.11590
2     0.000001  9.04310
3     0.000001  8.98600
4     0.000001  9.03390
...        ...      ...
2995  0.000002 -0.61592
2996  0.000002 -0.76438
2997  0.000002 -0.46729
2998  0.000002 -0.33695
2999  0.000002 -0.30843

[3000 rows x 2 columns]

In [95]:
df5air = pd.read_csv('sensor03_air - sensor03_air.csv')

In [96]:
df5air

      1.35e-06  7.8831
0     0.000001  8.0971
1     0.000001  7.9478
2     0.000001  7.9979
3     0.000001  7.9220
4     0.000001  7.9398
...        ...     ...
2995  0.000002  2.3074
2996  0.000002  2.3935
2997  0.000002  2.2550
2998  0.000002  2.4935
2999  0.000002  2.4934

[3000 rows x 2 columns]

In [97]:
df6izopropanol = pd.read_csv('sensor03_izopropanol - sensor03_izopropanol.csv')

In [98]:
df7water = pd.read_csv('sensor03_water - sensor03_water.csv')

In [99]:
df8air = pd.read_csv('sensor04_air - sensor04_air.csv')

In [100]:
df9izopropanol = pd.read_csv('sensor04_izopropanol - sensor04_izopropanol.csv')

In [101]:
df10water = pd.read_csv('sensor04_water - sensor04_water.csv')

In [102]:
df11air = pd.read_csv('sensor05_air - sensor05_air.csv')

In [103]:
df12izopropanol = pd.read_csv('sensor05_izopropanol - sensor05_izopropanol.csv')

In [104]:
df13water = pd.read_csv('sensor05_water - sensor05_water.csv')

In [105]:
df14air = pd.read_csv('sensor06_air - sensor06_air.csv')

In [106]:
df15izopropanol = pd.read_csv('sensor06_izopropanol - sensor06_izopropanol.csv')

In [107]:
df16water = pd.read_csv('sensor06_water - sensor06_water.csv')

In [108]:
df17air = pd.read_csv('sensor07_air - sensor07_air.csv')

In [109]:
df18izopropanol = pd.read_csv('sensor07_izopropanol - sensor07_izopropanol.csv')

In [110]:
df19water = pd.read_csv('sensor07_water - sensor07_water.csv')

In [111]:
df20air = pd.read_csv('sensor08_air - sensor08_air.csv')

In [112]:
df21izopropanol = pd.read_csv('sensor08_izopropanol - sensor08_izopropanol.csv')

In [113]:
df22water = pd.read_csv('sensor08_water - sensor08_water.csv')

In [114]:
df23air = pd.read_csv('sensor09_air - sensor09_air.csv')

In [115]:
df24izopropanol = pd.read_csv('sensor09_izopropanol - sensor09_izopropanol.csv')

In [116]:
df25water = pd.read_csv('sensor09_water - sensor09_water.csv')

In [117]:
df26air = pd.read_csv('sensor10_air - sensor10_air.csv')

In [118]:
df27izopropanol = pd.read_csv('sensor10_izopropanol - sensor10_izopropanol.csv')

In [119]:
df28water = pd.read_csv('sensor10_water - sensor10_water.csv')

In [120]:
df

            dB  Amplitude
0     0.000001     9.2003
1     0.000001     9.1968
2     0.000001     9.1028
3     0.000001     9.0601
4     0.000001     9.1118
...        ...        ...
2995  0.000002     3.8310
2996  0.000002     3.8613
2997  0.000002     3.8361
2998  0.000002     3.9466
2999  0.000002     3.8974

[3000 rows x 2 columns]

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dB         3000 non-null   float64
 1   Amplitude  3000 non-null   float64
dtypes: float64(2)
memory usage: 47.0 KB

In [122]:
df.head()

         dB  Amplitude
0  0.000001     9.2003
1  0.000001     9.1968
2  0.000001     9.1028
3  0.000001     9.0601
4  0.000001     9.1118

In [123]:
df.rename(columns={'index' : 'measurement', '1.35e-06': 'dB', '9.1792': 'Amplitude'}, inplace=True)

In [124]:
df.head()

         dB  Amplitude
0  0.000001     9.2003
1  0.000001     9.1968
2  0.000001     9.1028
3  0.000001     9.0601
4  0.000001     9.1118

# Data Exploration

In [125]:
df.mean()

dB           0.000002
Amplitude    1.188733
dtype: float64

In [126]:
result = df.groupby('dB').agg({'Amplitude': ['mean', 'min', 'max']})
  
print("Mean, min, and max values of Amplitude grouped by dB")
print(result)

Mean, min, and max values of Amplitude grouped by dB
         Amplitude
              mean     min     max
dB
0.000001    9.2003  9.2003  9.2003
0.000001    9.1968  9.1968  9.1968
0.000001    9.1028  9.1028  9.1028
0.000001    9.0601  9.0601  9.0601
0.000001    9.1118  9.1118  9.1118
...            ...     ...     ...
0.000002    3.8310  3.8310  3.8310
0.000002    3.8613  3.8613  3.8613
0.000002    3.8361  3.8361  3.8361
0.000002    3.9466  3.9466  3.9466
0.000002    3.8974  3.8974  3.8974

[3000 rows x 3 columns]

# Machine learning